.about {
	position: relative;
	padding-bottom: 50px;
	overflow: hidden;
	width: 100%;
}
/*--------below background--------*/
.container-fluid {
	margin: 20px 70px 0px 70px;
}
.block {
	padding-top: 30px;
}
#img-wrapper {
	margin-top: 90px;
}
.text {
	font-size: 16px;
    margin-top: 3px;
}
.icon {
	height:30px;
	width: 30px;
	margin: 2px;
	display: inline;
	cursor: pointer;
}