.about {
	position: relative;
	padding: 20px 0px 50px 0px;
	text-align: center;
	overflow: hidden;
	font-size: 14.5px;
}

/*--------below background--------*/
#mypic {
	width: 300px;
	height: 450px;
	float: left;
	margin-right: 25px;
}

#myname {
	color: #66CCCC;
	font-weight: 500;
	display: inline;
}

.container-fluid {
	margin-top: 20px;
}