#blog {
	width: 100%;
	padding: 20px 0px 20px 0px;
}
.blog-title {
	font-size: 25px;
	padding-top: 50px;
}
.blog-pic {
	padding-top: 30px;
	width: 580px;
	height: 430px
}

.blog-desc {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	width: 580px;
}