.about {
	position: relative;
	padding-bottom: 50px;
	text-align: center;
	overflow: hidden;
	font-size: 14.5px;
	width: 100%;
}

#title {
	font-size: 30px;
	padding-top: 120px;
}

#foodpicture {
    width: 100%;
	margin-top: 30px;
	visibility: hidden;
	opacity: 0;
	
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#foodpicture.show {
	visibility: visible;
	opacity: 1;
}

#foodpicture a {
	background-color: #fff;
    width: 250px;
	height: 250px;
	margin: 2px;
	overflow: hidden;
	position: relative;
    display: inline-block;
	
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}

#foodpicture a:hover {
	background-color: #fff;
}

#foodpicture a img {
    width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	opacity: 1;
  
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    display: inline-block;
	
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}

#foodpicture a:hover img {
	width: 98%;
	opacity: 0.7;
}


/*--------below background--------*/

.container-fluid {
	margin-top: 20px;
}

.section-name-1 {
	font-size: 72px;
	color: #66CCCC;
	letter-spacing: -6px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 10px;
	display: inline;
}

.section-name-2 {
	font-size: 60px;
	letter-spacing: -4px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 10px;
	margin-top: 80px;
}