.about {
	position: relative;
	padding-bottom: 50px;
	text-align: center;
	overflow: hidden;
	font-size: 14.5px;
	width: 100%;
}
#title {
	font-size: 30px;
	padding-top: 120px;
}
#instafeed {
	padding-top: 30px;
}

/*--------below background--------*/

.container-fluid {
	margin-top: 20px;
}
.section-name-1 {
	font-size: 72px;
	color: #66CCCC;
	letter-spacing: -6px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 10px;
	display: inline;
}
.section-name-2 {
	font-size: 60px;
	letter-spacing: -4px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 10px;
	margin-top: 80px;
}