html, body {
	background-color: white;
	margin: 0;
	width: 100%;
	height: 100%;

}

body {
/*	font-family: 'Lato', sans-serif;
*/
	font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;

}

a {
	text-decoration: none;
}
a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}


.intro {
	height: 100%;
	width: 100%;
	position: relative;
}
.about {
	position: relative;
}
.resume {
	position: relative;
	text-align: left;
	background-color: #A8A8A8;
}
.interests {
	position: relative;

}