html, body {
	background-color: white;
	margin: 0;
	width: 100%;
	height: 100%;

}

a {
	text-decoration: none;
}
a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

.section-name-1 {
	font-size: 72px;
	color: #19f6e8;
	letter-spacing: -6px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 5px;
	display: inline;
}
.section-name-2 {
	font-size: 72px;
	letter-spacing: -6px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 5px;
	display: inline;
}
.intro {
	height: 100%;
	width: 100%;
	position: relative;
}
.about {
	position: relative;
}
.experience {
	position: relative;
	padding: 70px 20px 70px 0px;
	overflow: hidden;
	text-align: center;
	background-color: #A8A8A8;
	font-size: 12px;
}
.resume {
	padding: 10px 20px 70px 0px;
	position: relative;
	overflow: hidden;
}
.interests {
	position: relative;
	overflow: hidden;
	background-color: #A8A8A8;
	padding: 70px 0px 70px 0px;
	text-align: center;
}
.travel {
	position: relative;
	overflow: hidden;
	padding: 70px 0px 70px 0px;
}
#footer {
	position: relative;
	overflow: hidden;
	padding-top: 25px;
	text-align: center;
	font-size: 12px;
}
#iconwrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
.icon {
	height:20px;
	width: 20px;
	margin: 5px 5px 30px 5px;
	display: inline;
	cursor: pointer;
}