html, body {
	background-color: white;
	margin: 0;
	width: 100%;
	height: 100%;

}

a:hover, a:visited, a:link {
	text-decoration: none;
	color: black;
}


.section-name-1 {
	font-size: 72px;
	color: #66CCCC;
	letter-spacing: -6px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 10px;
	display: inline;
}
.section-name-2 {
	font-size: 60px;
	letter-spacing: -4px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 10px;
	display: inline;
}

#footer {
	position: relative;
	overflow: hidden;
	font-family: 'Allerta', sans-serif;
	padding-top: 25px;
	text-align: center;
	font-size: 12px;
}
#iconwrapper {
	margin-top: 100px;
	margin-bottom: 10px;
}
.icon {
	height:30px;
	width: 30px;
	margin: 5px 5px 5px 5px;
	display: inline;
	cursor: pointer;
}