#navigation2 {
	position: relative;
	font-family: 'Lato', sans-serif;
	height: 65px;
	z-index: 955;
	padding-top: 50px;
	font-size: 12px;
}
#nav {
	cursor: pointer;
}
ul {
	list-style-type: none;
	margin: 0;
	
}
li {
	display: inline-block;
	padding-top: 37px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-color: gray;
	opacity: .7;
}

/*-------front background--------*/

#background {
	width: 100%;
	height: 100%;
	z-index: 940;
	display: block;
}

#backdesc {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-transform: uppercase;
	color: white;
	z-index: 950;
	text-align: center;
}

#name{
	font-size: 50px;
	font-weight: 400;
	position: relative;
	width: 100%;
	padding-top: 5px;
	text-decoration: none;
	letter-spacing: 5px;
}

#description{
	margin-top: 3px;
	letter-spacing: 3px;
	line-height: 20px;
	font-size: 14px;
	position: relative;
}


#pic {
	-webkit-transition: .9s;
	margin: 0;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	opacity: .8;
	width: 97%;
	height: 95%;
	z-index: 940;
}