html _{
  background-color: black;
}

body {
	font-family: 'Bree Serif', serif;
	text-align: center;
}

.bg-wrapper {
  position: absolute;
  background: black;
  overflow: hidden;
  height: 100%;
}

.bg-wrapper img {
  width: 100%;
  z-index: -1;
  opacity: .6;
}
.name-wrapper {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 420px;  
}

.shape {
  stroke-dasharray: 140 740;
  stroke-dashoffset: -625;
  stroke-width: 5px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.name {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}

#nav-wrapper {
  width: 100%;
  font-size: 12px;
  padding-left: 0px;
  position: relative;
  top: 50%;
  list-style-type: none;
  transform: translateY(-50%);
}

#nav{
  cursor: pointer;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 300;
  letter-spacing: 2px;
}

.desc {
  padding-bottom: 10px;
  font-size: 12px;
  position: relative;
  letter-spacing: 4px;
  color: #fff;
  top: 30%;
}

.name-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 960;
}