/*----------interests------------*/
	.container {
		position: relative;
		display: table;

	}

	.container:hover .text{
		display: block;
		opacity: .8;
	}

	.intpics {
	    width: 200px;
		height: 200px;	
	}
	.intphoto {
		width:390px;
		height:250px;
	}
	.imgwrap {
		position: relative;
		height: 200px;
		border: #909090 solid 5px;
		margin: 0px 2px 25px 2px;
		text-align: center;
		display: inline-block;
	}

	.imgdesc {
		position: absolute;
		width: 200px;
		height: 170px;
		bottom: 0;
		opacity: 0;
		font-size: 10px;
		text-align: center;
		background: rgba(0,0,0,0.6);
		padding-top: 30px;
		color: #FFFFFF;
		cursor: pointer;
	}

	.imgwrap:hover .imgdesc {
		opacity: 1;
	}


	/*-----experience-----*/

	.expimg-wrapper {
		position: relative;
		height: 250px;
		border: #909090 solid 5px;
		margin: 0px 2px 25px 2px;
		text-align: center;
		display: inline-block;
	}

	.expimg-wrapper .intpics {
		width: 250px;
		height: 250px;
	}
