/*-----projects-------*/

	#projects {
		padding-top: 0px;
		padding-bottom: 50px;
	}
	#quote {
		font-family: 'Lato', sans-serif;
		text-align: center;
		padding-top: 30px;
	}

	#travel {
		width:650px;
		height:400px;
		margin-bottom: 12px;
	}

	#container {
		padding-right: 14%;
		padding-left: 15px;
		padding-top: 70px;
		float: left;
	}
	#container ul {
		list-style: none;
		margin: 0;
	}

	#container li {
		font-size: 30px;
		margin-top: 0;
		margin-bottom: 10px;
	}



	li#seattle, li#venice, li#london, li#rome, li#paris, li#orlando li#asf li#capri {
		display: block;
		letter-spacing: 2px;
	}
	#v, #l, #r, #p, #o, #s, #c {
		overflow: auto;
		padding-right: 12%;
		padding-top: 80px;
		display: none;
	}
	#a {
		display: block;
		overflow: auto;
		padding-right: 12%;
		padding-top: 80px; 
	}
