html, body {
	background-color: white;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}
a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
}

/*-----projects-------*/



#travels {
	padding-top: 20px;
}
#quote {
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 30px;
}
#home {
	padding-top: 30px;
	width: 100%;
	text-align: center;
}
#homepic {
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}

#travel {
	width:650px;
	height:auto;
	margin-bottom: 12px;
}

[class^="container"] {
	display: none;
	padding-right: 12%;
	padding-left: 55px;
	float: left;
	padding-top: 30px;
}
[class^="container"] ul {
	list-style: none;
	margin: 0;
}

[class^="container"] li {
	font-size: 28px;
	margin-top: 0;
	color: black;
	cursor: pointer;
}

li {
	display: block;
	letter-spacing: 2px;
}

[class^="uk"], [class^="us"], [class^="italy"], [class^="france"], [class^="belgium"], [class^="asia"], [class^="switz"]{
	overflow: auto;
	display: none;
	height: 490px;
	color: #bc8f8f;
	margin-top: 30px;
}

#nav-svg {
	text-align: right;
	padding-top: 40px;
	padding-right: 80px;
	cursor: pointer;
}

#blanket {
	background-color:#BABABA;
	opacity: 0.8;
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
}

#popUpDiv {
	position:absolute;
	z-index: 9002;
	padding-top: 20px;
}

#nav {
	z-index: 9003;
	text-align: center;
	font-size: 35px;
	padding-top: 15%;
}

#front-nav {
	list-style-type: none;
}

li {
	line-height: 45px;
	padding: 0px 15px 0px 15px;
}


