html, body {
/*	background-color: #7DAF99;*/
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica", "Arial", "monospace";
}

header {
	font-family: monospace; 
	border-top: 5px;
}

