html {
	background-color: #7DAF99;
}

body {
	font-family: "Helvetica", "Arial";
	margin: 6px;
}

header {
	font-family: Helvetica; 
	border-top: 10px;
	text-align: center;
	position: relative;
}

a {

}

