@media (min-width: 875px) {
	#name{
		font-size: 45px;
		font-weight: 500;
		position: absolute;
		z-index: 99;
		left:0;
		top: 0;
		text-align: center;
		width: 100%;
		height: 100%;
		padding-top: 40px;
		color: #56AA96;
		
	}
	#description{
		font-size: 10px;

	}
	#container {
		position: relative;
		width: 100%;
		text-align: center;
		right: 0;
		left: 0;
	}
	#mypicture {
		position: relative;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-image: url("IMG_8247 copy.JPG");
		background-position: center;
		background-repeat: no-repeat;
		opacity: .8;

	}

/*	.fit-wrapper{
		position:relative;
	}
	.fit-toggle{
		position:relative;
		top:0;
		left:0;
		width:0px;
		height:0px;
		background:red;
	}
	.maxed-image .fit-toggle {
		display: none;
	}*/

}


