/*@media (min-width: 800px) {*/
	
	#descontainer{
		position: absolute;
		width: 50%;
		height: 40%;
		left: 50%;
		top: 50%;
		margin-right: -50%;
		background-color: black;
		opacity: .6;
		z-index: 900;
		transform: translate(-50%, -50%);
		cursor: pointer;
		border-radius: 8px;
	}
	#name{
		font-size: 45px;
		font-weight: 500;
		position: relative;
		z-index: 99;
		text-align: center;
		width: 100%;
		height: 20%;
		padding-top: 60px;
		color: #56AA96;
		text-decoration: none;
		letter-spacing: 5px;
	}
	#description{
		letter-spacing: 3px;
		line-height: 22px;
		font-size: 20px;
		position: relative;
		z-index: 99;
		text-align: center;
		width: 100%;
		height: 20%;
		color: #56AA96;
	}
	#content{
		position: absolute;
		top: 100%;
		width: 100%;
		height: 200px;
	}



/*-------front background--------*/

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
}

#pic1 {
	-webkit-transition: .9s;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
}
#pic2 {
	-webkit-transition: .9s;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
}
#pic3 {
	-webkit-transition: .9s;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
}


/*--------below background--------*/

#other {
	position: absolute;
	width: 100%;
	top: 100%;
	height: 900px;
}
#regent {
	position: relative;
	height: 450px;
	width: 100%;
	background-color: white;
	padding-top: 50px;
}

#regentmsghead {
	position: relative;
	margin-top: 5%;
	margin-bottom: 15px;
	font-size: 25px;
	text-align: center;
}

#regentmsg {
	position: relative;
	font-size: 15px;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
}

/*-----rush-----*/

#rush {
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url("img/gears.jpg");
	background-size: 100% 400px;
}

#rushpic {
	position: relative;
	width: 100%;
	height: 400px;
}

#rushdesc {
	position: relative;
	padding-top: 165px;
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	z-index: 99;
	height: 100%;
}

/*-----three pillars-----*/

#pillars {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: white;
}


/*------footer---------*/
#footer {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #56AA96;
}


