header {
	position: block;
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	top: 5px;
	width: 100%;
	height: 15%;
	overflow: hidden;
	z-index: 999;
}

.home {
	background-position: 0 -201;
}

a: home {

}

.about {
	background-position: 0 -301;
}