@media (min-width: 800px) {
	#navigation {
		position: fixed;
		vertical-align: middle;
		width: 100%;
		height: 165px;
		z-index: 950;
		background-color: white;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		color: black;
	}
	#navigation1 {
		width: 100%;
		height: 90px;
	}
	#navigation2 {
		position: fixed;
		width: 100%;
		height: 75px;
		z-index: 955;
		padding-top: 27px;
		text-align: center;
	}
	ul {
		list-style-type: none;
		margin: 0;
	}
	li {
		margin: 0;
		text-transform: uppercase;
		display: inline;
		padding-left: 10px;
		padding-right: 10px;
	}
}


