	#navigation1 {
		width: 100%;
		height: 90px;
		position: relative;
	}
	#navigation {
		position: fixed;
		vertical-align: middle;
		width: 100%;
		height: 165px;
		z-index: 950;
		background-color: white;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		color: black;
	}

	#navigation2 {
		width: 100%;
		height: 75px;
		position: relative;
	}

	.logo {
		text-align: center;
		z-index: 951;
		line-height: 75px;
		cursor: pointer;
	}

	.labels {
		/*float: left;*/
		/*display: inline;*/
		z-index:951;
		margin-right: 30px;
		line-height: 75px;
		text-align: center;
		cursor: pointer;

	}

	#rush,#bro, #prof, #serv {
		cursor: pointer;
	}

	.brotabs, .rushtabs, .proftabs, .servtabs{
		-webkit-transition: .3s;
		vertical-align: center;
		text-align: center;
		display: none;
		z-index:960;
		background-color: white;
		opacity: 1;
		margin-left: 0px;
		margin-right: 0px;
		padding: 1px;
		line-height: 30px;
		color: black;
	}
