@media (min-width: 800px) {
	#navigation1 {
		width: 100%;
		height: 90px;
		position: relative;
	}
	#navigation {
		position: fixed;
		vertical-align: middle;
		width: 100%;
		height: 165px;
		top: 100%;
		z-index: 950;
		background-color: white;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		color: black;
	}

	#navigation2 {
		width: 100%;
		margin-right: 27%;
		margin-left: 27%;
		height: 75px;
		position: relative;
	}

	.logo {
		text-align: center;
		z-index: 951;
		line-height: 75px;
		cursor: pointer;
	}

	.labels {
		vertical-align: middle;
		float: left;
		display: inline;
		z-index:951;
		margin-right: 30px;
		line-height: 75px;
		text-align: center;
		cursor: pointer;

	}
}

	#rush,#bro, #prof, #serv {
		cursor: pointer;
	}

	.brotabs, .rushtabs, .proftabs, .servtabs{
		-webkit-transition: .3s;
		vertical-align: center;
		text-align: center;
		display: none;
		z-index:960;
		background-color: white;
		opacity: 1;
		width: 105%;
		padding: 1px;
		line-height: 30px;
		color: black;
	}

@media (max-width: 750px) {
	#navigation2 {
		margin-right: 15%;
		margin-left: 15%;
		height: 75px;
		position: relative;
	}
}
