#subnav {
	width: 20%;
	height: 100%;
/*	top: 100%;*/
	position: fixed;
	z-index: 970;
	right: 0;
/*	transition: all 0.3s;*/
	background-color: blue;
}

.sublabel {
	display: block;
	font-size: 12px;
	position: relative;
	height: 20px;
}