#subnav {
	width: 100px;
	height: 80px;
	position: fixed;
	z-index: 970;
	left: 5px;
	top: 45%;
/*	transition: all 0.3s;*/
	background-color: yellow;
}

.subwrapper {
	display: block;
}
#subpic1, #subpic2, #subpic3 {
	width: 15px;
	height: 20px;
	-webkit-transition: .6s;
	display: inline;
}

/*#sublabel1, #sublabel2, #sublabel3 {
	-webkit-transition: .6s;
	display: none;
	font-size: 12px;
	position: relative;
	height: 20px;
	right: 0;
}*/