#subnav {
	width: 100px;
	height: 80px;
	position: fixed;
	z-index: 970;
	left: 5px;
	top: 45%;
	margin: auto;
/*	transition: all 0.3s;*/
	background-color: yellow;
}

.subwrapper {
	position: relative;

}
#subpic1, #subpic2, #subpic3 {
	float: left;
	width: 15px;
	height: 20px;
	-webkit-transition: .6s;
	overflow: hidden;
	position: absolute;
}

#sublabel1, #sublabel2, #sublabel3 {
	-webkit-transition: .6s;
	float: left;
	display: none;
	font-size: 12px;
	height: 20px;
	right: 0;
	overflow: hidden;
	position: absolute;
}